<div id="content">
  <iframe src="<%= ENV['url_razuna']%>preview.jsp?folder_id=<%= @folder_id%>&file_id=<%= @file_id%>" width="100%" height="1000px"  style="background: #F2F7FF " seamless></iframe>

</div>