<%#
# = Vista de encabezado con titulo
# Esta vista implementa el encabezado con titulo de una página
%>

<!-- Encabezado con el nombre-->
<div class="canvas_header">
  <div id="sgw_2_title" class="title sgw_page_title">
    <div class="title" page_type="canvas" ui_category="project" id="ext-gen38">
      <center id="ext-gen112">
        <span class="title_text" id="ext-gen668"><%= @titulo %> </span>
        <span class="title_annotation"></span>
      </center>
    </div>

  </div>
</div>

