<!-- Filtros,...-->

<div class="sgc_filter_panel" style="width: 180px;  top: 0px; height: 0.2px; " id="menu_Buscar" filter_panel_type="main">
  <!--Botón filtrar y búsqueda -->
  <div class="text_filter" id="ext-gen455">
   

    <div class="filter_input sgc_quick_filter visible" id="menu_filtro1" style=" left: 10px;"  >
      <!--div item_index="9" style="float: left" class="toolbar_item  " sg_tip="">
        <div class="toolbar_divider">
        </div>
      </div-->
      <form class="navbar-search pull-center " action="" >
        <input type="text" id="text" class="search-query span2" placeholder=' '></input>
       </form>

    </div>
   <!--div class="filter_button " id="quick_filter_button_4">
      <div class="sgc_quick_filter_button">
        <div class="toolbar_icon toolbar_plus ">
          <li><a id="search" value="search" data-controls-modal="filtrartipo_recurso"  data-backdrop="true" class="" onclick=mostrardiv1() rel="tooltip" title='<%= t('.filtro')%> '><img runat="server" src="/images/find.png"  /></a></li>

          <li><a id="clear_search" value="clear" data-controls-modal="filtrartipo_recurso"  data-backdrop="true" class="" onclick=mostrardiv1() rel="tooltip" title='<%= t('.filtro')%> '><img runat="server" src="/images/find.png"  /></a></li>
        </div>
      </div>
    </div-->
    
  </div>
  
</div>


