<%#
# = Vista de pie de página
# Esta vista implementa un pie de pagina secillo para una página
%>
<div class="footer sgc_footer" id="ext-gen54" style="height: 35px;" >

  <center id="ext-gen677"><%= @pagTexto %></center>
  
</div>