    <!-- Barra de herramientas= Filtrar, buscar, nuevo, eliminar,...-->
    <div class="entity_query_page_toolbar" style="left: 0px; top: 0px; " id="ext-gen64">

      <div class="toolbar sgc_toolbar" style="" id="ext-gen50">
        <div class="main" id="ext-gen418">
         


        </div>
      </div>

    </div>